/* Font Face Declarations */
@font-face {
  font-family: 'NeueHaasDisplay';
  src: url('/fonts/NeueHaasDisplayBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'NeueHaasDisplay';
  src: url('/fonts/NeueHaasDisplayBlack.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
  font-family: 'NeueHaasDisplay', sans-serif;
  font-weight: bold;
}

/* Global app background */
.app {
  background-color: #6c6c6c; /* light grey bg */
  height: 100vh;
  width: 100vw;
  position: relative;
}

