/* Font Face Declarations */
@font-face {
  font-family: 'Alliance';
  src: url('/Alliance Font Family/Degarism Studio - Alliance No.1 Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Alliance';
  src: url('/Alliance Font Family/Degarism Studio - Alliance No.2 Light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Alliance';
  src: url('/Alliance No.1 SemiBold/Alliance No.1 SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Alliance';
  src: url('/Alliance No.2 Bold/Alliance No.2 Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'NeueHaasDisplay';
  src: url('/fonts/NeueHaasDisplayBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'NeueHaasDisplay';
  src: url('/fonts/NeueHaasDisplayBlack.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
  font-family: 'Alliance', sans-serif;
  font-weight: normal;
}

/* Global app background */
.app {
  background-color: #6c6c6c; /* light grey bg */
  height: 100vh;
  width: 100vw;
  position: relative;
}

